#pictures {
    position: relative;
    width: 60%;
    flex-flow: row;
    justify-content: space-between;
    min-width: 250px;
    align-self: center;
    flex-grow: 1;
    flex-shrink: 1;
    overflow: hidden;
    
}
#pictures ul {
    list-style: none;
    position: absolute;
    float: left;
    /*width: 1000%;*/
}
#pictures ul li {
    float: left;
}
#pictures div {
    position: relative;
    overflow: hidden;
}
i.iconBack, i.iconNext {
    position: absolute;
    display: table;
    z-index:2;
    height: 100%;
}
i.iconBack {
    left: 0;
}
i.iconNext {
    right: 0;
}
i.iconBack p, i.iconNext p{
    display: table-cell;
    vertical-align: middle;
    font-size: 45px;
    font-weight: bold;
    background: #d41495;
    height: 50px;
    cursor: pointer;
}

#description {
    width: 40%;
    border: 5px solid #d41495;
    border-left: 0;
}
#description {
    width: 40%;
    min-width: 250px;
    flex:1 250px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    border: 5px solid #d41495;
    transition: transform .5s ease;
    /*border-radius: 0px 30px 30px 0px;*/
}
#description h2 {
    font-family: 'Pacifico';
    text-decoration: underline;
    color: #805edc;
    margin: 1.5em 0;
}
#description p {
    margin: .5em 0;
}
#description .btn {
    position: relative;
    width: 60%;
    height: 2em;
    background: #805edc;
    margin: 1.5em 0;
    cursor: pointer;
    text-align: center;
    color: #fafafa;
    font-size: 36px;
    align-items: center;
    justify-content: center;
    display: flex;
}
#description .btn:hover {
    color: rgba(255,255,255,0);
    transition: color .5s ease;
   
}
#description .btn::before{
    color: rgba(255,255,255,0);
    content: 'COMPRAR ';
    font-size: 36px;
    width: 100%;
    display: flex;
    left: 0;
    justify-content: center;
    top: 0;
    position: absolute;
    height: 100%;
    align-items: center;
    
}
#description .btn:hover::before {
    color: rgba(255,255,255,1);
    content: 'COMPRAR';
    transition: color .5s ease;
    font-size: 36px;
}
#buyModal, #ContactModal {
    position: absolute;
    width: 100%;
    min-width: 250px;
    display: flex;
    flex-flow: column;
    height: 100%;
    left: 0;
    background: rgba(0,0,0,0.6);
    z-index: 11;
    font-weight: bold;
}
#buyModal form, #ContactModal form {
    background: orchid;
    display: flex;
    border: 10px solid #765456;
    flex-flow: row wrap;
    min-width: 300px;
    width: 90%;
    position: relative;
    margin: 0 auto;
    padding: 10px;
    border-radius: 30px;
    font-size: x-large;
    box-shadow: 0px 0 67px 43px;
}
body:not(.mobile) #buyModal form, body:not(.mobile) #ContactModal form {
   /* position: fixed;*/
    align-self: center;
}

#confirm, #dataClient {
    flex: 1 1 50%;
    display: flex;
    flex-flow: column nowrap;
    min-width: 250px;
    align-self: flex-start;
}
#dataClient {
    align-self: auto;
}
#buyModal *, #ContactModal * {
    width: 60%;
    align-items: center;
    min-width: 250px;
    text-align: center;
    z-index: 13;
}
#buyModal input[type="text"], #buyModal input[type="email"], #ContactModal input[type="text"], #ContactModal input[type="email"]{
    font-size: large;
}
#buyModal input, #ContactModal input, #buyModal textarea, #ContactModal textarea {
    width: 98%;
}

#buyModal input[type="submit"], #ContactModal input[type="submit"] {
    height: 3em;
    background: #805edc;
    margin-top: .5em;
    color: #fff;
    font-size: 2em;
}
#buyModal h1, #ContactModal h1{
    align-self: flex-start;
    background: darkslateblue;
    font-family: 'Pacifico', cursive;
    color: #fff;
    text-decoration: underline;
    width: 100%;
    margin: .6em 0;
}

#buyModal input[readonly], #buyModal textarea[readonly] {
    background: transparent;
    border: 0;
    overflow: hidden;
}
#buyModal input[name="preco"] {
    font-size: 2em;
    position: relative;
    color: #fff;
    z-index: -1;
}

#buyModal .close, #ContactModal .close {
    top: .7%;
    right: .7%;
    position: absolute;
    height: 29px;
    width: 30px;
    min-width: 30px;
    flex: 0 15px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}


@media screen and (max-width:770px){
    #description h2, #description .btn{
        margin: .5em 0;
    }

}
